/* Last rule and specificity * Universal Selector */
.special
{
    color:green;

}
p{
    color:red;

}
p{
    color:blue;
}
#heading
{
    color:red;
}
.heading
{
    color:green;
}
*/* universal selector can be applyed to only if there is no styles applied particularly*/
{
    color:brown;
}